*, *::before, *::after{
    box-sizing: border-box;
   
}
*{
    margin: 0;
    padding: 0;
    --themeColor1: rgb(10, 64, 109);
    --themeColor2: rgb(243, 132, 9);
}
body{
    width: 100%;
    max-width: 900px;
    margin: auto;
}
p{
    padding-bottom: 12px;
}
#appWrapper{
    position: relative;
    width: 100%;
    margin: auto;
}
.mainHeader{
    position:sticky;
    top: 0;
    background: var(--themeColor1, steelblue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 100%;
    margin: auto;
    z-index: 10;
}
#masthead{
    color: var(--themeColor2, steelblue);
    border: 1px solid rgba(255, 255, 255, 0.705);
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
#masthead:hover{
    border-color: var(--themeColor2);
    color: white;

}
#mainNav{
    display: flex;
    justify-content: end;
    align-items: center;
}
#mainNav li{
    list-style-type: none;
    padding: 8px 12px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}
#mainNav .active, #mainNav li:hover, .titleLink.active{
    color: var(--themeColor2, darkgoldenrod);
}
.mainContainer{
    position: relative;
    width: 100%;
    margin: auto;
}
.mainPage{
    position: relative;
}
.sectionTitle{
    position: relative;
    text-align: center;
    padding: 10px 0;
    margin: 5px auto;

}
.sectionTitle span{
    position: absolute;
    left: 10px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    transition: 300ms ease-in-out;
    border: 1px solid var(--themeColor1);
    padding: 5px;

}
.sectionTitle span:hover{
    color: var(--themeColor1);
    border-color: var(--themeColor2);
}
.subSectionTitle{
    font-size: 16px;
}
.subSectionTitle span{
    border: 1px solid var(--themeColor1);
    transition: 300ms ease-in-out;
}
.subSectionTitle span:hover{
    border-color: var(--themeColor2);
}
 #landing, #coreNav{
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#landing{  
    width: 100%;
    /* max-width: 600px; */
    height: 100%;
    /* background: url("https://images.unsplash.com/photo-1576235789670-28a9c8e950b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") center no-repeat;
    background-size: cover; */
    transition: 600ms ease-in-out;
    cursor: pointer;
}

#coreNav{
    
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    height: 520px;
    margin: auto;
   
}
#landing:hover{
   opacity: .9
}
#coreNav li span{
    color: var(--themeColor2);
}
#coreNav li{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    height:100px;
    width: 100px;
    background: var(--themeColor1);
    list-style-type: none;
    padding: 12px;
    font-size: 20px;
    font-weight: 300;
    margin: 5px auto;
    transition: 300ms ease-in-out;
    color: white;
}
#coreNav li:hover{
    color:var(--themeColor2);
    border-color: white;
    /* transform: scale(1.05); */
}

/* project and blog pages styles*/

.container{
    display: grid;
    grid-template-columns: 160px 3fr;
    grid-gap: 5px;
    padding: 10px;
}
.sideNavContainer{
    display: block;
    height: auto;
    /* background: lightgray; */
    padding: 10px;
    transition: 700ms ease-in-out;
}

.sideNavContainer.animatedMenu{
    display: block;
    left: 5px;
    z-index: 10;
    background: white;
}
.itemContainer{
    height: 100%;
    padding: 20px;
    /* background: lightgray; */
}
.item img{
    display: block;
    width: 100%;
    margin: auto;
}
.titleLink{
    cursor: pointer;
    color: var(--themeColor1);
    padding: 8px 0;
}
.titleLink:hover{
    color: var(--themeColor2);
}

/* footer styles*/
footer{
    text-align: center;
    padding: 20px 0;
    opacity: .7;
    font-size: 13px;
    width: 100%;
    margin: 20px auto;
    background:  rgb(232, 235, 238); 
}

@media only screen and (max-width: 600px){
    .sectionTitle span{
        display: inline;
    }
    .container{
        position: relative;
        grid-template-columns: 1fr;
        background: lightgray;
    }
    .sideNavContainer{
        /* display: block; */
        position: absolute;
        left: -200px;
        z-index: 12;
        cursor: pointer;
        /* background: white; */
    }
}